@import url('./search_bar.css');
@import url('./video.css');
@import url('./line_chart.css');
@import url('./home_page.css');
@import url('./video_scroll_list.css');
@import url('./movie_details.css');
@import url('./scores.css');

body {
  background-image: url('https://i.imgur.com/foAB5DF.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.root {
  min-width: 950px;
  max-width: 950px;
}
