@import url('./search_bar.css');
@import url('./video.css');
@import url('./line_chart.css');
@import url('./home_page.css');
@import url('./video_scroll_list.css');
@import url('./movie_details.css');

body {
  background-image: url('../src/images/film_background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.root {
  min-width: 1000px;
  max-width: 1050px;
}
