.recharts-legend-wrapper {
  margin: -20px;
}
.recharts-legend-item-text {
  color: white;
}
.ratings-container {
  display: flex;
  min-width: 600px;
  flex-direction: column;
  align-items: center;
}
